<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 ms-5 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <i class="bi bi-lightning-charge-fill"></i>
      </a>
        <a target="_blank" href="https://github.com/Og-Azevedo" style="text-decoration:none;">
            <span class="text-muted">© 2022 Desenvolvido por Og Azevedo</span>
        </a>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a target="_blank" class="text-muted" href="https://wa.me/5582991169956"><i class="bi bi-whatsapp"></i></a></li>
      <li class="ms-3"><a target="_blank" class="text-muted" href="https://github.com/Og-Azevedo"><i class="bi bi-github"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>