{% extends 'base.html' %}

{% block body%}
<div class="container">
    <div class="card mt-3 text-center" >
      <div class="card-body">
          <i class="bi bi-book-half" style="font-size: 2rem; color: #FFC107"></i>
          <h5 class="card-title">Sobre</h5>
          <h6 class="card-subtitle mb-2 text-muted">Projeto desenvolvido por Og Azevedo</h6>
          <p class="card-text">
              O site Gasolinabarata.online tem como ojetivo principal ajudar a população de Maceió-Alagoas a encontrar
              o posto de gasolina mais barato da capital. Na sua tela principal o usuário encontra o ranking dos 10 melhores preços em tempo real.
          </p>
          <p class="card-text">
              O desenvolvimento do back-end foi feito na linguagem Python, utilizando o framework Flask. Toda o front-end foi desenvolvido usando a ferramenta
              open source Bootstrap.
              Para fornecer essa informação o site conta com as informações fornecidas pelas API da Sefaz - AL.
          </p>
          <p class="card-text">
              <a target="_blank" href="https://github.com/Og-Azevedo">Clique aqui para saber mais sobre Og Azevedo</a>
          </p>
          <p class="card-text">
              <a target="_blank" href="http://www.sefaz.al.gov.br/api/">Conheça a API da Sefaz - AL</a>
          </p>

      </div>
    </div>

</div>
{% endblock %}
